{% extends "base.html" %}
{% block title %}
Enrollment List
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h3>Enrollments</h3>
    <div class="row mb-2 mt-4">
        <!-- Search Form (if applicable) -->
        <div class="col-md-4">
            <form method="GET" action="{% url 'enrollment-list' %}">
                <div class="input-group">
                    <input type="text" class="form-control me-2" placeholder="Search instructors..." name="q" value="{{ query }}">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- Add Enrollment Button -->
        <div class="col-md-8 text-end">
            <a href="{% url 'enrollment-create' %}" class="btn btn-outline-primary">Add Enrollment</a>
        </div>
    </div>
    <table class="table align-middle mb-0 bg-white">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Student</th>
                <th>Course</th>
                <th>Grade</th>
                <th>Exam Score</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for enrollment in enrollments %}
            <tr>
                <td>
                    <a href="{% url 'enrollment-detail' enrollment.pk %}" class="fw-normal mb-1">{{ enrollment.id }}</a>
                </td>
                <td>
                    <a href="{% url 'student-detail' enrollment.pk %}" class="fw-normal mb-1">{{ enrollment.student }}</a>
                </td>
                <td>
                    <a href="{% url 'course-detail' enrollment.pk %}" class="fw-normal mb-1">{{ enrollment.course }}</a>
                </td>
                <td>
                    <span class="fw-normal mb-1">{{ enrollment.grade }}</span>
                </td>
                <td>
                    <span class="fw-normal mb-1">{{ enrollment.exam_score }}</span>
                </td>
                <td>
                    <a href="{% url 'enrollment-update' enrollment.pk %}" class="btn btn-warning btn-sm me-1">Edit</a>
                    <a href="{% url 'enrollment-delete' enrollment.pk %}" class="btn btn-danger btn-sm ml-2">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No enrollments found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if is_paginated %}
    <nav aria-label="Page navigation" class="mt-4">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?q={{ query }}&page=1">&laquo; First</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?q={{ query }}&page={{ page_obj.previous_page_number }}">&lsaquo; Previous</a>
            </li>
            {% endif %}

            <li class="page-item disabled">
                <span class="page-link">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
            </li>

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?q={{ query }}&page={{ page_obj.next_page_number }}">Next &rsaquo;</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?q={{ query }}&page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}